[user]
	signingkey = B993EE77BB6C356A
	name = Dolliwyx
	email = 35372554+Dolliwyx@users.noreply.github.com
[alias]
	st = status -sb
	br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
	lg = !git log --pretty=format:\"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) [%an]\" --abbrev-commit -30
	cm = commit -m
[commit]
	gpgsign = true
[gpg]
	program = gpg
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
